* {
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter";
}

::placeholder {
  color: #f7f7f7;
}
.f-s-16 {
  font-size: 16px;
}
.f-s-10 {
  font-size: 10px;
}
.f-s-12 {
  font-size: 12px;
}
.f-s-14 {
  font-size: 14px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-20 {
  font-size: 20px;
}
.f-s-24 {
  font-size: 24px;
}
.limit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.f-f-Inter-Regular {
  font-family: "Inter";
}
.blurred {
  filter: blur(6px);
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon_download {
  animation: blink 1s infinite;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

.animation {
  width: 0;
  height: 4px;
  background-color: #4891fd;
  animation: progress 10s linear infinite;
}
.active {
  border-bottom: 2px solid #1775ff;
  font-weight: 600;
}
